<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exercise.mappers.exercise">
	
	<!-- 이메일 중복체크 SQL -->
	<select id="emailCheck" resultType="string">
		SELECT 	user_email
		FROM 	USERS
		WHERE	user_email = #{user_email}
	</select>
	
	<!-- 닉네임 중복체크 SQL -->
	<select id="nameCheck" resultType="string">
		SELECT 	user_name
		FROM 	USERS
		WHERE	user_name = #{user_name}
	</select>
	
	<!-- 회원가입 SQL -->
	<insert id="join">
		INSERT INTO USERS
		VALUES	(
				#{user_email}, #{user_name}, #{user_pw}, 
				#{user_gender}, #{user_phone}, null
				)
	</insert>
	
	<!-- 이메일 찾기 SQL -->
	<select id="findEmailAction" resultType="String">
		SELECT user_email
		FROM USERS
		WHERE user_name = #{user_name}
	</select>
	
	<!-- 비밀번호 찾기 SQL -->
	<select id="findPwAction" resultType="Users">
		SELECT *
		FROM USERS
		WHERE user_email = #{user_email}
		AND user_name = #{user_name}
	</select>
	
	<!-- 비밀번호 변경 SQL -->
	<update id="resetPw" >
		UPDATE 	USERS
		SET user_pw = #{user_pw}
		WHERE user_email = #{user_email}
	</update>

	<!-- 로그인 SQL -->
	<select id="loginAction" resultType="Users">
	<!-- select 2개 이상이면 config에 입력 뒤에 불러오기 -->
		SELECT *
		FROM USERS
		WHERE user_email = #{user_email}
		AND user_pw = #{user_pw}
	</select>
	
	<!-- days_id 작성 SQL  -->
	<insert id="days">
		INSERT INTO DAYS 
		VALUES (#{days_id}, #{days}, #{user_email))
	</insert>
	
	<!-- part_sporting_id 작성 SQL -->
	<insert id="part_sporting">
		INSERT INTO PART_SPORTING
		VALUES (#{part_sporting_id}, #{part_sporting}, #{days_id})
	</insert>
	
	<!-- part_data_id 작성 SQL -->
	<insert id="part_data">
		INSERT INTO PART_DATA
		VALUES (
			#{part_data_id},#{part_weghit},#{part_sets},#{part_number},
			#{part_heart}, #{part_kcal}, #{part_time},
			#{part_sporting_id}, #{part_id}
				)
	</insert>
	
	<!-- part_sporting list 불러오기 SQL -->
	<select id="getPart_SportingList" resultType="Part_Sporting">
		SELECT *
		FROM PART_SPORTING
		WHERE days_id = #{days_id}
	</select>
	
	<!-- part_data_id list 불러오기 SQL -->
	<select id="getPart_DataList" resultType="Part_Data">
		SELECT *
		FROM PART_DATA
		WHERE part_sporting_id = #{part_sporting_id}
	</select>
	
	<!-- days list 불러오기 SQL -->
	<select id="getDateData" resultType="Days">
		SELECT *
		FROM DAYS
		WHERE days like #{days}
		AND user_email = #{user_email}
	</select>
	
	

</mapper>