<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exercise.mappers.exercise">
	
	<!-- 이메일 중복체크 SQL -->
	<select id="emailCheck" resultType="string">
		SELECT 	user_email
		FROM 	USERS
		WHERE	user_email = #{user_email}
	</select>
	
	<!-- 닉네임 중복체크 SQL -->
	<select id="nameCheck" resultType="string">
		SELECT 	user_name
		FROM 	USERS
		WHERE	user_name = #{user_name}
	</select>
	
	<!-- 회원가입 SQL -->
	<insert id="join">
		INSERT INTO USERS
		VALUES	(
				#{user_email}, #{user_name}, #{user_pw}, 
				#{user_gender}, #{user_phone}, null
				)
	</insert>
	
	<!-- 이메일 찾기 SQL -->
	<select id="findEmailAction" resultType="String">
		SELECT user_email
		FROM USERS
		WHERE user_name = #{user_name}
	</select>
	
	<!-- 비밀번호 찾기 SQL -->
	<select id="findPwAction" resultType="Users">
		SELECT *
		FROM USERS
		WHERE user_email = #{user_email}
		AND user_name = #{user_name}
	</select>
	
	<!-- 비밀번호 변경 SQL -->
	<update id="resetPw">
		UPDATE 	USERS
		SET user_pw = #{user_pw}
		WHERE user_email = #{user_email}
	</update>

	<!-- 로그인 SQL -->
	<select id="loginAction" resultType="Users">
	<!-- select 2개 이상이면 config에 입력 뒤에 불러오기 -->
		SELECT *
		FROM USERS
		WHERE user_email = #{user_email}
		AND user_pw = #{user_pw}
	</select>
	

</mapper>